<ng-container *ngIf="!currentUser; else userIsLoggedIn">

    <form (submit)="signIn()" [formGroup]="signInForm" class="flex-wrapper">
      <mat-form-field>
        <label>
          <input formControlName="username" matInput placeholder="username" type="text">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input formControlName="password" matInput placeholder="password" type="password">
        </label>
      </mat-form-field>

      <button [disabled]="!signInForm.valid" color="accent" mat-raised-button type="submit">Sign In</button>
    </form>

</ng-container>

<ng-template #userIsLoggedIn>
  <form class="flex-wrapper">
    <button mat-raised-button color="warn" type="button" (click)="createAd()">Create Ad</button>
    <button mat-raised-button color="accent" type="button" (click)="signOut()">Sign
      Out, {{currentUser}}</button>
  </form>
</ng-template>
