<ng-container *ngIf="!currentUser; else userIsLoggedIn">

  <ng-container *ngIf="userWantDoSignUp; else userWantDoSignIn">
    <form (submit)="signUp()" [formGroup]="signUpForm">
      <mat-form-field>
        <label>
          <input formControlName="username" matInput placeholder="* username" type="text">
        </label>
      </mat-form-field>
      <div class="flex-wrapper">
        <mat-form-field>
          <label>
            <input formControlName="password" matInput placeholder="* password" type="password">
          </label>
        </mat-form-field>

        <mat-form-field>
          <label>
            <input formControlName="passwordRepeat" matInput placeholder="* repeat password" type="password">
          </label>
        </mat-form-field>
        <button [disabled]="!signUpForm.valid" color="accent" mat-raised-button type="submit">Sign Up
        </button>
        <br>
        <button (click)="userWantDoSignUp = false" mat-button mat-stroked-button type="button">Have a login?</button>
      </div>
    </form>
  </ng-container>

  <ng-template #userWantDoSignIn>
    <form (submit)="signIn()" [formGroup]="signInForm" class="flex-wrapper">
      <mat-form-field>
        <label>
          <input formControlName="username" matInput placeholder="username" type="text">
        </label>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input formControlName="password" matInput placeholder="password" type="password">
        </label>
      </mat-form-field>

      <button [disabled]="!signInForm.valid" color="accent" mat-raised-button type="submit">Sign In</button>
      <button (click)="userWantDoSignUp = true" mat-raised-button type="button">Need a login?</button>
    </form>
  </ng-template>

</ng-container>

<ng-template #userIsLoggedIn>
  <form class="flex-wrapper">
    <button mat-raised-button color="warn" type="button" (click)="createAd()">Create Ad</button>
    <button mat-raised-button color="accent" type="button" (click)="signOut()">Sign
      Out, {{currentUser}}</button>
  </form>
</ng-template>
